/* Empty. Add your own CSS if you like */

.touchpad {
	height: 200px;
	line-height: 200px;
	font-size: 30px;
	text-align: center;
	color: white;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	background-color: gray;
	border-radius: 20px;
	user-select: none;
}

.bottom {
	position: fixed;
	bottom: 5px;
	left: 5%;
	right: 5%;
}

.hidden {
	display: none;
}

.status-led {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
}

.status-led.good {
	background-color: #78E37F;
}

.status-led.mediocre {
	background-color: #DCE359;
}

.status-led.bad {
	background-color: #E85656;
}

.status-led.connecting {
	background-color: #DCE359;
	animation: blinking-led 1s linear infinite;
}

.red > span {
	color: red;
}

@keyframes blinking-led {
	50% {
		background-color: transparent;
	}
}

.presentation-info div {
	text-align: center;
}